.create{
  display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-content: center;
   justify-content: center;
   align-items: center;
   width: 80vw;
   height: 100vh;
   background-color: white;
}

.form > input{
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.form > input{
  height: 56px;
  width: 283px;
  left: 0px;
  top: 0px;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 16px 0px #33333314;
  border: none;
  margin-bottom: 32px;
  text-align: center;

}

.send_button > input{
  height: 40px;
  width: 100px;
  border-radius: 8px;
  background-color: transparent;
  color: grey;
  border: 1px gray solid;
  margin: 32px 0 32px 0;
}

.block_img > img{
  width: 721px;
}

.float_buttons > img{
  width: 193px;
  z-index: 100;
}


.login_block{
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
}

.error{
  color:red;
  margin-bottom: 20px;
}

.link{
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  font-family: 'Manrope';
  color: #258AFF;
  text-decoration: none;
}

.login_inputs > p{
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  font-family: 'Manrope';
}

@media only screen and (max-width: 980px) {
  .login_block {
     display: flex;
     flex-wrap: wrap;
     align-content: center;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     width: 100vw;
  }
  .login{
     display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
      background-color: white;
  }
  .landingpage_block2 {
     background-color: #F6FCFF;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     align-content: center;
     justify-content: center;
     align-items: center;
     margin-top: 30px;
     margin-bottom: 50px;
 }

 .login_inputs > form > input {
  height: 5vh;
  width: 80vw;
  left: 0px;
  top: 0px;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 16px 0px #33333314;
  border: none;
  margin-bottom: 32px;
  text-align: center;
  font-size: x-large;
 }
  
 .send_button > input{
  height: 4vh;
  width: 20vw;
  border-radius: 8px;
  background-color: #258AFF;
  color: white;
  border: none;
  margin: 32px 0 32px 0;
  font-size: x-large;
}

  .currency {
     height: 4vh;
   font-size: larger;
   text-align: center;
   border-radius: 3px;
   border: none;
   box-shadow: 0px 4px 4px rgb(51 51 51 / 4%), 0px 4px 16px rgb(51 51 51 / 18%);
   padding: 5px;
   width: 20vw;
  }

  .block_img > img{
     width: 80vw;
  }

  .logo > img{
     height: auto;
     width: 20vw;
     border-radius: 0px;
     margin-top:15vh;
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     align-content: center;
     justify-content: center;
     align-items: center;
  }
}