.sidebar {
  width: 250px;
  height: 100vh;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

.logo {
  width: 150px;
  height: auto;
  margin-top: 20px;
}

input {
  margin-top: 20px;
  height: 30px;
  border-radius: 20px;
  border: 1px gray solid;
  text-align: center;
}
